
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #111, #1e1e1e);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.quiz-container {
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
  background-color: #222;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.quiz-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #ffcc00;
}

.score {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.question {
  font-size: 1.5rem;
  margin-bottom: 25px;
  line-height: 1.4;
  color: white;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option-button {
  padding: 14px;
  border: none;
  border-radius: 10px;
  background-color: #333;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option-button:hover {
  background-color: #ffcc00;
  color: rgb(255, 255, 255);
  transform: scale(1.03);
}

.feedback {
  margin-top: 25px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

.final-screen {
  max-width: 600px;
  margin: 80px auto;
  padding: 40px;
  color: white;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.restart-button {
  margin-top: 20px;
  padding: 14px 25px;
  border: none;
  border-radius: 10px;
  background-color: #ffcc00;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.restart-button:hover {
  background-color: #ffd633;
  transform: scale(1.05);
}